* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  min-width: 80%;
  margin: 0 auto;

  
}

/* body {
    background-image: url("/img/backr.jpg");
    background-size: cover;
  } */

.box {
  display: flex;
  align-items: center;
  gap: 12px;
}
.box .span-1 {
  color: #165df5;
  font-size: 16px;
}

.ul-1 {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 54px;
}
.ul-1 .li {
  text-decoration: none;
}
.ul-1 .li a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;

  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
  padding-left: 100px;
  height: 95px;
  width: 100%;
  margin: 0 auto;
}

.box-2 {
  display: flex;
  align-items: center;
  gap: 23px;
}
.box-2 a {
  color: black;
  text-decoration: none;
}
.box-2 .btn {
  color: white;
  border: 1px solid;
  border-color: #165df5;
  background-color: #165df5;
  border-radius: 50px;
  padding: 11px 24px;
  text-decoration: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.box-2 .bk {
  width: 100%;
  height: 90px;
  background-color: rgb(255, 255, 255);
  /* position: absolute; */
  margin-top: 0;
  top: 0;
  opacity: 65%;
  z-index: -4;
}

.box-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  height: 400px;
  margin-top: 10px;
  gap: 25px;
}
.box-3 h1 {
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  font-size: 60px;
  text-align: center;
}
.box-3 h1 .span-2 {
  color: #165df5;
}
.box-3 .btin {
  top: 34px;
  background-color: #165df5;
  padding: 11px 23px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.box-3 p {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 16px;
}

.container-2 {
  position:absolute;
  width: 100% ;
  height: 400px;

  position: absolute;
}
.container-2 img {
  z-index: -3;
}
.container-2 .box-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  top: 50px;
 
  gap: 25px;
}
.container-2 .box-4 h1 {
  position: absolute;
  color: aliceblue;
  text-transform: capitalize;
  font-size: 40px;
  text-align: center;
  top: 350px;
  width: 709px;
  height: 120px;
}
.container-2 .box-4 h1 .span-2 {
  color: #165df5;
}
.container-2 .box-4 p {
  position: absolute;
  width: 600px;
  height: 58px;
  font-size: 18.662px;
  top: 500px;
 

  text-align: center;

color: rgb(176, 174, 174);
}

.container-3 {
 margin-top: 700px;
 margin-left:150px;
 width: 80%;
 height: 200px;

 

}
.box-5{
  text-align: center;
  line-height: 34px;
}

.box-5 h4 span{
  color: #0a5afc;
}
.box-5 p{
  color: rgb(174, 172, 172);
}

.box-5 .ull {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.box-5 .ull span {
  color: black;
  font-weight: 700
  

}
.box-5 .img{
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}

.box-6{
  padding-top: 200px;

}


.box-6 p {
  position: relative;
  top :23px;
  

}
.box-6 a{
  position:relative;
  top: 45px;
  border: 1px solid  #165df5;
  padding:10px 20px ;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  background-color: #165df5;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.box-7{
 
  width: 100%;
  height: 500px;
  padding-top: 300px;
  


}
.box-8{
  display: flex;
  gap: 54px;
  padding-top: 80px;
}

.ul-2{
  list-style-type: none;
  text-align: start;
  
}
.ul-2 .ll span{
  font-size: 36px;
  
}
.ul-2 span{
  font-weight: 700;
}

.box-8 .chiz{
 position: relative;
 top: 330px;
 left: 34px;
  height: 100px;
  


  
}